body{
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
}
.strong{
    color: rgb(27, 139, 23);
}
h1{
    font-size: 50px;
    
}
h2{
    font-size: 25px;
}
.haf-width img{
    width: 100%;
}
.head{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-top: 150px;
}
.chik-me{
    text-decoration: none;
    background-image: linear-gradient(salmon,rgb(19, 1, 1),tomato);
    background-color: salmon;
    padding: 10px 20px;
    border-radius: 6%;
    font-weight: 700;
    color: aliceblue;


}
.haf-width{
    width: 40%;
    float: left;
    padding-left: 7%;
}
.paragirap{
    color: rgb(174, 177, 179);
}
.back{
    background-image: url(images/dream-bg.png);
    background-position: right;
}